.projects-panel {
  background: linear-gradient(
    to bottom,
    rgba(31, 31, 31, 0.95) 0%,
    rgba(240, 121, 0, 1) 10rem,
    rgba(240, 121, 0, 1) 10rem,
    rgba(240, 121, 0, 0.8) 100%
  );

  width: 100vw;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 30rem;
}

.header {
  width: 100vw;
  margin-top: 1rem;
  border-color: aliceblue;
  color: var(--light);
}
.project-card {
  /* margin-top: 4rem; */
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.project-text {
  text-align: left;
  width: auto;
}

.project-image {
  width: 25rem;
  height: auto;
  border-radius: 5px;
}

.link {
  color: var(--dark);
}

.project-title {
  line-height: 0;
  text-decoration: none;
  font-family: "Anton";
  font-weight: 100;
  font-style: italic;
}
